
<form method="POST" action="/thread/{{thread._id}}?_method=PUT">

	<div class="form-group"> <!-- Name field -->
		<label class="control-label " for="title">title</label>
		<input class="form-control" id="title" name="title" type="text"/>
	</div>
	
	<div class="form-group">
		<button class="btn btn-primary " name="Submit" type="submit">Submit</button>
	</div>
	
</form>	