
<button type="button" class="btn btn-primary"><a href ="thread/new">New Thread</a></button>

<div>
{{#each thread}}

<div class="d-flex card" style="width: 18rem;">
  <img class="card-img-top" src="images/210.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"><a href ="/thread/{{_id}}">{{title}}</a></h5></p>
    <a href ="thread/{{_id}}/edit"><button type="button" class="btn btn-primary">edit thread</button></a>
  </div>
</div>



{{/each}}

</div>