

<form action="/thread" method="POST">

	<div class="form-group">
		<label class="control-label " for="title">title</label>
		<input class="form-control" id="title" name="title" type="text"/>
	</div>
	
	<div class="form-group">
		<button class="btn btn-primary " name="Submit" type="submit">Submit</button>
	</div>
	
</form>	