<main>

	<h2>You are viewing:

		{{tournaments.name}}
	</h2>

	<a href="/">Return to Home Page</a>

	<div class="donut-container-show">
		<h2 id="donut-name">

				{{tournaments.name}}
			
		</h2>

			<p>

				
					{{tournaments.description}}
			</p>
			
